body {
  margin: 0;
  
}
.App{
  display:flex;
}
.conversations{
  list-style: none;
  margin:1rem;
  padding:0;
}
.conversations li{
  cursor: pointer;
  text-decoration: underline;
  color:blue;
}
.chat-box ul{
  list-style: none;
  padding:0;
}
.chat-box li{
  margin: 1rem 0;
}
.chat-box span{
  display:block;
  color:#777;
}